### Vaadin & Frontend ###
# Dépendances Node
node_modules/
# Fichiers générés par Vaadin
generated/
dev-bundle/
# Fichiers de configuration Vite/Webpack locaux (optionnel, mais souvent ignorés si générés)
# vite.generated.ts

# Logs
*.log
logs/
nn_logs/

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# Crash dumps
clear_dump.txt

### OS (Mac / Windows) ###
.DS_Store
Thumbs.db

### Gradle ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
